* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white
}

a {
    text-decoration: none;
    color: white;
}

/* Fontface */

@font-face {
    font-family: mont;
    src: url(/fonts/Montserrat-Regular.ttf);
}

/* layout */

.layout-container {
    padding-left: 50px;
    padding-right: 50px;
}

/* components */

/* header */

.header {
    background-color: #ff7f00;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-nav-links {
    display: grid;
    grid-template-columns: 5fr .5fr .5fr;
    margin: 0;
    color: white;
    font-size: 1.1875rem;
    font-family: mont;
}

.main-nav-links a:not(:last-child) {
    border-right: 1px solid #040a2c;
    text-align: center;
}

.main-nav-links a {
    padding-bottom: 20px;
    padding-top: 24px;
}

.main-nav-links a:last-child {
    text-align: center;
}

.main-nav-links a:hover {
    color: #040a2c;
    border-bottom: 3px solid #040a2c;
}

.main-nav-links img {
    align-self: center;
}

.main-nav-links img:hover {
    cursor: pointer;
    border-bottom: #040a2c;
}

/* meme editor */

.meme-editor {
    display: flex;
    display: none;
}

/* canvas */

canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid black;
}

.canvas-container {
    background-color: rgb(226, 249, 253);
    width: 70vw;
    height: 100vh;
    border: 1px solid rgb(0, 38, 255);
}

/* search-bar and filters */

.search-bar {
    height: 10.5rem;
    display: flex;
    align-items: center;
}

.search {
    width: 261px;
    background-color: #f5f5f5;
    border-top: #040a2c;
    border-right: #040a2c;
    border-left: #040a2c;
    outline: none;
    background-color: transparent;
    font-family: mont;
}

.search-icon {
    width: 27px;
}

.keywords {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 150px;
}

.keywords:hover{
    cursor: pointer;
}

.keywords a {
    color: #040a2c;
}

/* gallery */

.main-gallery {
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 22rem);
    /* grid-template-rows: repeat(auto,22rem); */
    /* grid-auto-flow: dense; */
    gap: 1em;
    margin: 50px;
    padding: 50px;
}

.gallery-container img {
    cursor: pointer;
    /* width: 22rem; */
    width: 100%;
}

/* character-container */

.character-container {
    height: 35.4em;
    display: flex;
    margin-top: 78px;
    
}

.character-container img {
    max-width: 322px;
    max-height: 322px;
  
    border-radius: 50%;
}

/* footer */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: mont;
    font-size: 1.1875em;
    color: white;
    height: 13em;
    background-color: #ff7f00;
}

.footer-container img{
    margin-bottom: 1em;
}

/* helpers */