* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white
}

a {
    text-decoration: none;
    color: white;
}

/* Fontface */

@font-face {
    font-family: mont;
    src: url(/fonts/Montserrat-Regular.ttf);
}

/* layout */

.layout-container {
    padding-left: 50px;
    padding-right: 50px;
}

/* components */

/* header */

.header {
    background-color: #ff7f00;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-nav-links {
    display: grid;
    grid-template-columns: 5fr .5fr .5fr;
    margin: 0;
    color: white;
    font-size: 1.1875rem;
    font-family: mont;
}

.main-nav-links a:not(:last-child) {
    border-right: 1px solid #040a2c;
    text-align: center;
}

.main-nav-links a {
    padding-bottom: 20px;
    padding-top: 24px;
}

.main-nav-links a:last-child {
    text-align: center;
}

.main-nav-links a:hover {
    color: #040a2c;
    border-bottom: 3px solid #040a2c;
}

.main-nav-links img {
    align-self: center;
}

.main-nav-links img:hover {
    cursor: pointer;
    border-bottom: #040a2c;
}

/* meme editor */

.meme-editor {
    display: none;
    height: 70vh;
    background-color: #e3e3e3;
    padding-right: 130px;
}

.user-input {
    /* background-color: #e3e3e3; */
    font-family: mont;
    font-size: 2.875rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 50vw;
}

.user-text {
    grid-column: 1/3;
}

.user-input button {
    
    border-radius: 12px;
    margin: 5px;
    background-color: #ffffff;
    font-family: mont;
    font-size: 2.875rem;
    font-weight: 500;
}

.user-input button:hover {
    cursor: pointer;
    background-color: #e3e3e3;
}

.user-remove-text img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    margin: 5px;
    background-color: #ffffff;
    font-family: mont;
    font-size: 2.875rem;
    font-weight: 500;
}

.user-text input {
    width: 380px;
    height: 60px;
    font-size: 20px;
    font-family: mont;
    padding: 0;
}

.user-move-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: " . up ." "left down right ";
    margin: auto;
}

.user-move-text .up {
    grid-area: up;
}

.user-move-text .down {
    grid-area: down;
}

.user-move-text .right {
    grid-area: right;
}

.user-move-text .left {
    grid-area: left;
}

.currText {
    color: #ff7f00;
    font-family: mont;
    font-weight: 600;
    text-underline-position: below;
}

.user-color-stroke{
    display: flex;

}

.user-color-fill input{
    width: 60px;
    height: 60px;
    border-radius: 10%;
    
}
.user-color-stroke input{
    width: 60px;
    height: 60px;
    border-radius: 10%;
    
}
.share-container{
    color: #ff7f00;
}

/* canvas */

canvas {
    margin: 20px auto;
    border: 1px solid black;
}

.canvas-container {
    width: 50%;
    height: 70vh;
    padding-left: 50px;
}

/* search-bar and filters */

.search-bar {
    height: 10.5rem;
    display: flex;
    align-items: center;
}

.search {
    width: 261px;
    background-color: #f5f5f5;
    border-top: #040a2c;
    border-right: #040a2c;
    border-left: #040a2c;
    outline: none;
    background-color: transparent;
    font-family: mont;
}

.search-icon {
    width: 27px;
}

.keywords {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 150px;
}

.keywords:hover {
    cursor: pointer;
}

.keywords a {
    color: #040a2c;
}

/* gallery */

.main-gallery {
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 22rem);
    /* grid-template-rows: repeat(auto,22rem); */
    grid-auto-flow: dense;
    gap: 1em;
    margin-top: 50px;
    padding: 50px;
    width: 100vw;
}

.gallery-container img {
    cursor: pointer;
    width: 100%;
}

/* character-container */

.character-container {
    height: 35.4em;
    display: flex;
    margin-top: 78px;
    font-family: mont;
}

.character-container img {
    max-width: 322px;
    max-height: 322px;
    border-radius: 50%;
}

/* footer */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: mont;
    font-size: 1.1875em;
    color: white;
    height: 13em;
    background-color: #ff7f00;
}

.footer-container img {
    margin-bottom: 1em;
}

/* helpers */

.flex {
    display: flex;
}

.btn{
    height: 60px;
    width: 60px;
}
.fa-facebook {  
    background: #3B5998;  
    color: white; 
    border-radius: 50%; 
    height: 40px;
    width: 40px;
  }  

@media screen and (max-width: 500px) {
    
    /* gallery  */
    .gallery-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0;
        padding: 1em;
        gap: 8px;
        width: 100vw;
    }
    .layout-container {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0;
    }
    .keywords {
        display: none;
    }
    /* header  */
    .header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 50px;
    }
    .search-bar {
        min-height: 100px;
    }
    .main-nav-links a {
        display: none;
    }
    .main-nav {
        padding-right: 0;
    }
    /* charchter  */
    .character-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 38px;
        margin-right: 38px;
        padding-right: 0;
        margin-top: 2em;
    }
    .character-container img {
        width: 158px;
        height: 158px;
        border-radius: 50%;
    }
    .character-container p {
        text-align: center;
    }
    /* footer  */
    .footer-container {
        height: 207px;
    }
    /* toggle ment mobile  */
    .main-menu {
        height: 168px;
        background-color: #ff7f00;
        position: fixed;
        top: 0;
        display: none;
    }
    /* meme editor  */
    .meme-editor {
        
        flex-direction: column;
        font-size: 1em;
        padding-right: 0;
        margin-top: 35px;
    }
    .user-input {
        width: 100vw;
        background-color: #e3e3e3;
        grid-template-rows: none;
        font-size: 1em;
        margin-top: 20px;

    }

    .user-text{
        grid-column: 1/4;
    }
    .user-text input {
        width: 100vw;
        height: 40px;
    }
    .user-font-size {
        display: flex;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    }
    .user-font-size button {
        font-size: 16px;
        width: 40px;
        height: 40px;
    }
    .user-move-text button {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .user-focus-text {
        display: inline-block;
        font-size: 16px;
    }
    .user-focus-text button {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
    .user-focus-text img {
        width: 40px;
        height: 40px;
    }
    .user-clear-meme button {
        font-size: 16px;
        
    }
    .user-color{
        display: flex;
    }
    
    .user-color-fill input{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .user-color-fill button{
        font-size: 1em;
    }

    .user-color-stroke input{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .user-color-stroke button{
        font-size: 1em;
    }

    .user-download button{
        font-size: 1em;
    }

    
    

    .footer-container{
      height: 100px;
      display: none;
    }
    /* canvas  */
    canvas {
        margin: 20px 0 -19px -15px;
    }

}